            <h1 class="mt-4">come in</h1>
            <h2 class="lead mb-3">Welcome <%= user.name %></h2>
            <a href="/users/logout" class="btn btn-danger">Logout</a>
            <a href="https://shejacredia.github.io/Credox/" class="btn btn-info">Forward</a>